In [1]:
import pandas as pd
import numpy as np

technologies = {
    'Courses':["SPARK", "PYSPARK", "HADOOP", "PANDAS"],
    'Fee': ['22000', '25000', '24000', '26000'],
    'Duration': ['30days', '50days', '40days', '60days'],
    'Discount': ['1000', '2300', '2500', '1400']
}

df = pd.DataFrame(technologies)
print(df)
print("***************************************************")
df['Courses'] = df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400
***************************************************
   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [2]:
technologies= ({
    'Courses':["spark","pyspark","hadoop","pandas"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)
print("***************************************************")
df['Courses'] = df['Courses'].apply(lambda x: x.upper())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400
***************************************************
   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [3]:
data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

print(data)
print("***************************************************")

print(data['name'].apply(lambda x: len(x)))

   age      name
0   15    Sample
1   17  New User
2   20   My Name
3   14  Jane Doe
4   25  John Doe
***************************************************
0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [4]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
print(s)
print("***************************************************")

print(s.apply(lambda x: str.strip(x)if isinstance(x, str) else x))

0    1. Bat.
1    2. Dog!\n
2    3. fox?\t
3          NaN
dtype: object
***************************************************
0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [5]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.phps",
               np.nan])
print(s)
print("***************************************************")

print(s.apply(lambda x: str.split(x)if isinstance(x, str) else x))

0                              this is my new pen
1    https://www.w3resource.com/pandas/index.phps
2                                             NaN
dtype: object
***************************************************
0                          [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.phps]
2                                               NaN
dtype: object

In [6]:
import numpy as np
import pandas as pd
a = pd.Series(["hi my name is vartika",
               "hello there i am vartika",
               "hi",
               np.nan])
print(a)
print("***************************************************")

print(a.apply(lambda x: 'vartika' in str(x)))

0       hi my name is vartika
1    hello there i am vartika
2                          hi
3                         NaN
dtype: object
***************************************************
0     True
1     True
2    False
3    False
dtype: bool

In [7]:
b = pd.Series(["hi my name is vartika",
               "hello there i am vartika",
               "hi",
               ])
print(b)
print("***************************************************")

print(b.apply(lambda x: x.replace('vartika','swati')))

0       hi my name is vartika
1    hello there i am vartika
2                          hi
dtype: object
***************************************************
0       hi my name is swati
1    hello there i am swati
2                        hi
dtype: object

In [8]:
c = pd.Series(["vartika",
               "anshika singh",
               "tritiya ",
               ])
print(c)
print("***************************************************")

print(c.apply(lambda x: x.startswith('ans')))

0          vartika
1    anshika singh
2         tritiya
dtype: object
***************************************************
0    False
1     True
2    False
dtype: bool

In [9]:
d = pd.Series(["vartika",
               "anshika singh",
               "tritiya",
               ])
print(d)
print("***************************************************")

print(d.apply(lambda x: x.endswith('a')))

0          vartika
1    anshika singh
2          tritiya
dtype: object
***************************************************
0     True
1    False
2     True
dtype: bool

In [10]:
z = pd.Series(["chitkara",
               "chandigarh",
               "thapar",
               ])
print(z)
print("***************************************************")

print(z.apply(lambda x: x + (' university')))

0      chitkara
1    chandigarh
2        thapar
dtype: object
***************************************************
0      chitkara university
1    chandigarh university
2        thapar university
dtype: object

In [16]:
y = pd.Series([1,2,3,4,5],index=['apple','banana','orange','kiwi','litchi'])
print(y)
print("***************************************************")

print( y.get('apple'))

apple     1
banana    2
orange    3
kiwi      4
litchi    5
dtype: int64
***************************************************
1

In [19]:
k = pd.Series(["chitkara",
               "chandigarh",
               "thapar",
               ])
print(k)
print("***************************************************")

print(k.apply(lambda x: x[1:6:2]))

0      chitkara
1    chandigarh
2        thapar
dtype: object
***************************************************
0    hta
1    hni
2    hpr
dtype: object

In [22]:
k = pd.Series(["chitkara",
               "chandigarh",
               "thapar",
               ])
print(k)
print("***************************************************")

print(k.apply(lambda x: x.find('ch')))

0      chitkara
1    chandigarh
2        thapar
dtype: object
***************************************************
0    0
1    0
2   -1
dtype: int64